.mlh-trust-badge {
  position: absolute;
  display: block;
  top: 0;
  z-index: 1050;
  width: 100px;
  right: 5%;

  img {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .mlh-trust-badge {
    width: 90px;
    right: calc(45% - 320px);
  }
}

@media only screen and (max-width: 992px) {
  .mlh-trust-badge {
    width: 80px;
    right: calc(45% - 220px);
  }
}

@media only screen and (max-width: 768px) {
  .mlh-trust-badge {
    width: 70px;
    right: calc(45% - 160px);
  }
}

@media only screen and (max-width: 576px) {
  .mlh-trust-badge {
    width: 60px;
    right: calc(5% + 60px);
  }
}
