@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
@import '../../scss/colors';

.countdown-timer {
  font-family: 'VT323', monospace;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  color: #152347;
  text-shadow: 4px 4px 1px $color-primary;

  @media only screen and (max-width: 770px) {
    font-size: 4rem;
  }
}
