$background: rgb(9, 21, 64);

$color-primary: rgb(40, 0, 238);
$color-primary-a: rgb(91, 59, 252);
$color-primary-b: rgb(60, 21, 255);
$color-primary-c: rgb(30, 0, 179);
$color-primary-d: rgb(24, 1, 141);

$color-secondary-1: rgb(239, 0, 209);
$color-secondary-1a: rgb(252, 31, 225);
$color-secondary-1b: rgb(255, 0, 224);
$color-secondary-1c: rgb(179, 0, 157);
$color-secondary-1d: rgb(141, 0, 124);

$color-secondary-2: rgb(0, 205, 234);
$color-secondary-2a: rgb(35, 225, 252);
$color-secondary-2b: rgb(3, 224, 255);
$color-secondary-2c: rgb(0, 140, 159);
$color-secondary-2d: rgb(0, 109, 124);
