@import '../../scss/colors.scss';

.footer {
  margin: 0;
  padding: 0;
  background: $background;
  margin-top: 1em;
}

.footer-inner {
  text-align: center;
  padding: 4em 0;
  color: white;
}

.love {
  margin-bottom: 1em;
}
