$background: rgb(9, 21, 64);

$color-primary: rgb(40, 0, 238);
// $color-primary: #0044ff;
$color-primary-a: rgb(91, 59, 252);
$color-primary-b: rgb(60, 21, 255);
$color-primary-c: rgb(30, 0, 179);
$color-primary-d: rgb(24, 1, 141);
$color-primary-e: rgb(16, 0, 94);

$color-secondary-1: rgb(239, 0, 209);
$color-secondary-1a: rgb(252, 31, 225);
$color-secondary-1b: rgb(255, 0, 224);
$color-secondary-1c: rgb(179, 0, 157);
$color-secondary-1d: rgb(141, 0, 124);

$color-secondary-2: rgb(0, 205, 234);
$color-secondary-2a: rgb(35, 225, 252);
$color-secondary-2b: rgb(3, 224, 255);
$color-secondary-2c: rgb(0, 140, 159);
$color-secondary-2d: rgb(0, 109, 124);

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #03a9f4 !default;
$indigo: #3f51b5 !default;
$purple: #673ab7 !default;
$pink: #e91e63 !default;
$red: #f44336 !default;
$orange: #ff5722 !default;
$yellow: #ffab00 !default;
$green: #8bc34a !default;
$teal: #009688 !default;
$cyan: #00bcd4 !default;
