.header {
  transition: 0.14s ease all;
  background: rgba(255, 255, 255, 1);
}

.header-expand {
  padding-top: 3em;
  padding-bottom: 3em;
  background: rgba(255, 255, 255, 0);
}

.header-navbar {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  padding: 0 0.6em;
}

.header-expand.navbar-brand {
  font-size: 2em;
  color: white;
}
