@import url('https://indestructibletype.com/fonts/Jost.css');
@import './fonts.scss';
@import './colors.scss';

@keyframes spinny {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}

.spinny-thing {
  background-color: #222;
  height: 100vh;
  width: 100vw;

  a {
    text-shadow: 0 10px 15px rgba(rgb(14, 14, 14), 0.4);
    color: white;
    font-size: 80px;
    text-decoration: none;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    &:after,
    &:before {
      outline: 1px solid transparent;
      content: '';
      padding: 0.9em 0.4em;
      position: absolute;
      left: 50%;
      width: 120%;
      top: 50%;
      display: block;
      border: 10px solid $color-primary;
      transform: translateX(-50%) translateY(-50%) rotate(0);
      animation: 12s infinite alternate ease-in-out spinny;
    }

    &:before {
      border-color: $color-primary $color-primary transparent transparent;
      z-index: -1;
    }

    &:after {
      border-color: transparent transparent $color-primary $color-primary;
      box-shadow: 20px 20px 30px rgba(black, 0.15);
    }
  }
}
