@import './colors';

html,
body {
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.site {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.site-content {
  /* Push footer to the bottom */
  flex-grow: 1;
}

.bg-grad {
  background: linear-gradient(145deg, $color-primary-c, $color-primary-e) !important;
}

.tagline {
  text-align: center;
}

.footer {
  margin: 0;
  padding: 0;
  background: linear-gradient(145deg, $color-primary-c, $color-primary-e) !important;
  margin-top: 1em;
  // clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 30%);
  // padding-top: 4em;
}

.footer-inner {
  padding: 4em 0;
  color: white;
}

.grad-text {
  background-image: linear-gradient(145deg, $color-primary-b, $color-primary-d) !important;
  color: transparent;
  background-clip: text;
}

.center {
  text-align: center;
}

.split {
  width: 100%;
  height: 120px;
  background: white;
  border: none;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 100%);
}

.jumbo-outer {
  margin-bottom: 2em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../img/CH-20190317-12-20-58.jpg');
  background-size: cover;
  background-position: center center;
}

.jumbo-inner {
  padding: 5em 1em 4em 1em;
  color: white;
}

.cta-container {
  max-width: 500px;
  margin: auto;
  margin-top: -132px;
}

.cta {
  margin: 0 16px;
  padding: 16px;
  border-radius: 10px;
}

.markdown-content {
  margin: 5em 0;
}

.jumbotron-padding {
  padding-top: 8em;
}

.brand-bg {
  background: linear-gradient(145deg, $color-primary-c, $color-primary-e) !important;
  color: white;
  padding: 0.4em 1em;
  border-radius: 10px;
}
