@import './colors';

html,
body {
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

// a {
//   color: inherit !important;
// }

.tagline {
  text-align: center;
}

.center {
  text-align: center;
}


.jumbo-outer {
  margin-bottom: 2em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../img/CH-20190317-12-20-58.jpg');
  background-size: cover;
  background-position: center center;
}

.jumbo-inner {
  padding: 5em 1em 4em 1em;
  color: white;
}

.cta-container {
  max-width: 500px;
  margin: auto;
  margin-top: -132px;
}

.cta {
  margin: 0 16px;
  border-radius: 10px;
}

.markdown-content {
  line-height: 1.8;
}

.jumbotron-padding {
  padding-top: 8em;
}

// .brand-bg {
//   background: $color-primary;
//   color: white;
//   padding: 0.4em 1em;
//   border-radius: 10px;
// }

.btn-outline-primary > svg {
  color: $color-primary;
}
.btn-outline-primary:hover > svg {
  color: white;
}
