@import './colors';

html,
body {
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.jumbo-outer {
  margin-bottom: 2em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../img/CH-20190317-12-20-58.jpg');
  background-size: cover;
  background-position: center center;

  .jumbo-inner {
    padding: 5em 1em 4em 1em;
    color: white;

    .tagline {
      text-align: center;
    }
  }
}

.cta-container {
  max-width: 500px;
  margin: auto;
  margin-top: calc(-100px - 2.5vw);

  .cta {
    margin: 0 16px;
    border-radius: 10px;

    .button {
      margin: 0.5rem;
    }
  }
}

.markdown-content {
  line-height: 1.5;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: 1rem;
  }
}

.jumbotron-padding {
  padding-top: 8em;
}
