.tier-name {
  text-align: center;
  text-transform: uppercase;
}

.sponsor-col {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;

  .sponsor-logo {
    max-width: 100%;
    max-height: 100%;
  }
}
